<!doctype html>
<!-- 

 __        __   __   ___  __   __      ___      ___     __   __   __   __        __   
|__)  /\  |  \ / _` |__  |__) /__`    |__   /\   |     /  ` /  \ |__) |__)  /\  /__` .
|__) /~~\ |__/ \__> |___ |  \ .__/    |___ /~~\  |     \__, \__/ |__) |  \ /~~\ .__/ ,
                                                                                      

 __             __        __      ___      ___     __              __   __   __   
|__)  /\  |\ | |  \  /\  /__`    |__   /\   |     |__)  /\   |\/| |__) /  \ /  \ .
|    /~~\ | \| |__/ /~~\ .__/    |___ /~~\  |     |__) /~~\  |  | |__) \__/ \__/ ,
                                                                                  

           __                                     __ 
|  | |__| /  \    |  | | |    |       |  | | |\ |  _|
|/\| |  | \__/    |/\| | |___ |___    |/\| | | \|  . 


-->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>Badger v. Panda</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico">
    
    <link rel="stylesheet" href="/css/boilerplate.css?v=3">
    <link rel="stylesheet" href="/css/style.css?v=3">
    <script src="/js/libs/modernizr-1.7.min.js"></script>
</head>

<body>
    <div id="container">
        <div id="loading">Loading...</div>
        <header>
            <h1>Badger v Panda</h1>
        </header>
        
        <div id="main" role="main">
            <% if (about == true) { %>
                <h1>About Badger v Panda</h1>
                <p>This site was created because of a playful debate started at <a href="http://codeforamerica.org">Code for America</a> about whether our mascot should be a <a href="http://en.wikipedia.org/wiki/Badger">Badger</a> or <a href="http://en.wikipedia.org/wiki/Panda">Panda</a>.  <strong>Badger v Panda</strong> is about taking that debate outside the walls of CfA and asking the public.</p>
                
                <p>Above all else, this site is an experiment and educational opportunity for its main developer, <a href="http://twitter.com/zzolo">@zzolo</a>, to try out some new technologies, such as <a href="http://nodejs.org/">Node.js</a>, <a href="http://couchdb.apache.org/">CouchDB</a>, <a href="http://en.wikipedia.org/wiki/WebSockets">WebSockets</a>, <a href="http://raphaeljs.com/">Raphael.js</a>, and more.  The code is freely available on <a href="https://github.com/codeforamerica/badger-panda">GitHub</a>.</p>
                
                <h2>Anonymous Voting and Abuse</h2>
                <p class="abuse">With any anonymous voting web application, there is not a real way to stop people from making as many votes as they want (actually this is very encouraged if actually going through the web site).  But when it comes to abusing the system, the only mechanism to fight it is throttling and blacklisting which, though stop a select few, ultimately decrease the value of the application for the majority.  Abuse also increases the resources needed for this application, both time and money.  So, I kindly request that people don't abuse this application as it is simply meant to be a fun learning exercise.</p>
            <% } %>
            
            <% if (typeof maintenance != 'undefined' && maintenance == true) { %>
                <p class="maintenance">Due to <strong>Badger v Panda</strong>'s unexpected popularity, this site will not be accepting votes for the time being. Come back soon for more Badger v Panda goodness.</p>
            <% } %>
        </div>
        
        <div id="message"></div>
        
        <footer>
            <a href="/about">about</a> this site
        </footer>
    </div>
    
    <% if (!about && (typeof maintenance == 'undefined' || maintenance == false)) { %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/jquery-1.6.min.js"></script>
        <script src="/js/libs/jquery-ui.min.js"></script>
        <script src="/js/libs/jquery.timers.js"></script>
        <script src="/js/libs/raphael-min.js"></script>
        <script src="/js/voter.js"></script>
        <script src="/js/client.js"></script>
    <% } %>
</body>
</html>