/**
 * Colors:
 */

/**
 * Main styles for Badger Panda
 */
* {
    font-family: "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
 
body {
    background-color: #151515;
    color: #FFFFFF;
}

header {
}

h1 {
    font-size: 3em;
    margin: 10px 0;
    display: none;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    bottom: 10px;
    position: absolute;
    right: 20px;
    text-align: right;
    position: fixed;
}

a,
a:visited,
a:hover,
a:visited:hover {
    color: #36B3FC;
}

#loading {
    display: none;
    top: 10px;
    left: 20px;
    position: fixed;
}