/**
 * Colors:
 */

/**
 * Main styles for Badger Panda
 */
* {
    font-family: "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
 
body {
    background-color: #151515;
    color: #FFFFFF;
}

header {
}

h1 {
    font-size: 3em;
    margin: 10px 0;
    display: none;
}

#main {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -400px;
    position: absolute;
    top: 50%;
    width: 800px;
}

footer {
    bottom: 10px;
    position: absolute;
    right: 20px;
    text-align: right;
    position: fixed;
}

a,
a:visited,
a:hover,
a:visited:hover {
    color: #FEB609;
}

#loading {
    display: none;
    top: 10px;
    left: 20px;
    position: fixed;
}

a.vote-badger,
a.vote-panda {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #FFFA03;
    width: 200px;
    border-radius: 6px;
}

.badgers,
.pandas {
    color: #007A00;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #00FF04;
    width: 200px;
    border-radius: 6px;
}

.vote-status {
    color: #0010A4;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0067B0;
    width: 200px;
    border-radius: 6px;
}

.can-vote-left {
    padding-left: 30px;
}